/* code: monospace, different background-color, probably with border/-radius
h1 text-align center?
tables 2 per row changing colors?
nav side or top bar?
p in sans-serif?
standard dark mode?
background darkest, close to black
banner some metalic grey/silver, 3d border bottom?
nav on the left, same colour, slightly darker than banner, border on right?


https://blog.karenying.com/posts/50-shades-of-dark-mode-gray
*/

*{
    background-color: rgb(25, 39, 52);
    color: rgb(200, 200, 200);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(199, 109, 0);
    border-bottom: medium black solid;
    z-index: 10;
}

nav {
    background-color: rgb(105, 68, 27);
    border-right: medium solid rgb(0, 0, 0);
    display: inline-block;
    position: fixed;
    left:0;
    top: 0;
    width: 15rem;
    padding-top: 2.3rem;
    padding-bottom: 100%;
    z-index: 9;
    line-height: 2;
    
}

nav a, nav ul, nav li {
    background-color: rgb(105, 68, 27);
    list-style-type: none;
}

.main {
    padding-left: 15rem;
    padding-top: 2.3rem;
}

span {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    border: thin rgba(255, 255, 255, 0.678) solid;
    display: block;
}

table {
    border: medium solid rgba(0,0,0,0.5);
    border-collapse: collapse;
    /* display: block; */
    width:100%;
    text-align: left;
}

table th {
    background-color: rgba(255, 94, 0, 0.555);
}

table tr, table thead {
    border-bottom: thin solid rgba(0,0,0,0.6);
}
tr:nth-child(2n) td, tr:nth-child(2n) td a{
    background-color: rgb(100, 100, 100);
    
}

table td, table th {
    border-right: thin solid rgba(0,0,0,0.4);
}

#my_signature {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

#active {
    background-color: rgba(255, 94, 0, 0.555);
}